* @SaladTechnologies/admins @SaladTechnologies/devops @SaladTechnologies/kitchen-ux @SaladTechnologies/revops @SaladTechnologies/saladcloud-compute

# Administrators must approve changes to code owners (and other GitHub-specific resources).
/.github/ @SaladTechnologies/admins
